body,html{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .name{
    margin-top: 1vh;
    margin-bottom: 0;
    padding: 2vh 0;
    font-size: 1.3rem;
}
.main .text{
    margin: 1vh 15vw;
    font-weight: normal;
    width: 70vw;
    height: 6.5vh;
    display: flex;
    justify-content: center;
}

.main .image{
    width: 100%;
    text-align: center;
    position: relative;
}
.main .image .util{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2vh;
    right: 2.5vw;
    list-style: none;
    padding: 0;
    margin: 0;
}
.main .image .util li{
    text-align: center;
    width: 10vw;
    height: 10vw;
}
.main .image .util img{
    width: 5vw;
}
.main .image .hexagram{
    width: 70vw;
    margin: auto;
}
.main .image .hexagram .item{
    width: 100%;
    height: 5vh;
    margin:1.2vh 0;
    background-color: black;
}
.main .image .hexagram .item:nth-child(3){
    margin:1.2vh 0 3vh 0;
}
.main .image .hexagram .item.no{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
.main .image .hexagram .item.no::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 45%;
}
.main .image .hexagram .item.no::after{
    content: "";
    background-color: black;
    height: 100%;
    width: 45%;
}
.main .trigram{
    flex: 1;
    margin: 5px 5px 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main .trigram li{
    padding: 0.8vh 0;
    font-size: 1.0rem;
}

.dialog{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialog .body{
    background-color: #fff;
    border-radius: 1vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.dialog .select{
    margin: auto 3vw;
    padding: 2vw 0;
}
.dialog .select ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.dialog .select ul li{
    display: block;
    width: 11vw;
    height: 11vw;
    text-align: center;
    line-height: 11vw;
    font-size: 0.9rem;
    color: #333;
    margin: 0.1vw;
    background-color: #eee;
}
.dialog .select ul li.on{
    font-weight: bold;
}

.dialog .detail{
    margin: auto 6vw;
    padding: 3vw;
    color: #666;
}

.dialog .detail p{
    margin: 0.5vh 0;
}
.dialog .detail .original{
    font-weight: bold;
    margin: 1vh 0;
    display: flex;
    justify-content: center;
}
.dialog .detail .trans{
    font-size: 0.95rem;
}
.dialog .detail .anno{
    font-size: 0.9rem;
    max-height: 20vh;
    overflow-y: auto;
    color:#888;
    margin-bottom: 0.5vh;
    background-color: #fefefe;
    word-break: break-all;
    word-wrap:break-word;
}
.dialog .detail .analysis{
    max-height: 40vh;
    width: 80vw;
    overflow-y: auto;
    background-color: #eee;
    font-size: 0.9rem;
    padding: 1vw;
    border-radius: 0.5vw;
    word-break: break-all;
    word-wrap:break-word;
}

